@import "./typography.css";
@import "highlight.js/styles/dark.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }

  table {
    @apply overflow-x-scroll;

    & th {
      @apply whitespace-nowrap;
    }
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
  html,
  body,
  #app {
    @apply h-full;
  }
  #app,
  main.container {
    @apply relative;
  }

  main.container {
    @apply mt-6 pb-6 grid gap-4 grid-default sm:grid-sm md:grid-md;
  }
}

@layer utilities {
  .grid-default {
    grid-template-columns: 1fr;
    grid-template-areas: "nav";
    /* grid-template-rows: repeat(auto, 1fr); */
    grid-template-rows: auto;
  }
  .grid-sm {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "nav content";
    /* grid-template-rows: repeat(auto, 1fr); */
    grid-template-rows: auto;
  }
  .grid-md {
    grid-template-areas: "nav nav content content content content content content content content";
    grid-template-columns: 196px 98px repeat(8, 1fr);
    grid-template-rows: auto;
  }
  .grid-nav {
    @apply col-span-full md:col-span-2;
  }
  .grid-content {
    @apply col-span-full md:col-span-8;
  }
  .grid-full {
    @apply col-span-full;
  }
  .grid-nav-end {
    grid-area: nav-end;
  }
  .grid-nav-start {
    grid-area: nav-start;
  }
  .grid-content-end {
    grid-area: content-end;
  }
  .grid-content-start {
    grid-area: content-start;
  }

  .link {
    @apply hover:text-blue-600 cursor-pointer;
  }

  .scrolltrack-hidden {
    scrollbar-color: #2a2a2b transparent;
    scrollbar-width: thin;
  }
  .scrolltrack-hidden::-webkit-scrollbar-track {
    @apply border bg-transparent;
  }
  .overflow-x-scroll,
  .overflow-y-scroll {
    @apply scrolltrack-hidden;
  }
}

@layer components {
  .list-group {
    @apply grid gap-1;

    & h3 {
      @apply font-semibold leading-none tracking-tight;
    }

    & > a {
      @apply first-of-type:mt-2;
    }

    & > a,
    & > button {
      @apply hover:bg-muted aria-disabled:!bg-transparent aria-disabled:text-muted-foreground aria-disabled:text-opacity-50 aria-disabled:cursor-default px-2 py-1 rounded-md select-none text-left flex gap-2 items-center;

      & > svg {
        @apply h-4 w-4;
      }
    }

    & > a.danger,
    & > button.danger {
      @apply text-red-600 aria-disabled:text-opacity-50;
    }
  }
}

.hljs-keyword,
.hljs-link,
.hljs-literal,
.hljs-section,
.hljs-selector-tag {
  color: currentColor !important;
}
