.cms-typography {
  & h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl [&:not(:first-child)]:mt-10;
  }

  & h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0 [&:not(:first-child)]:mt-8;
  }

  & h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight [&:not(:first-child)]:mt-6;
  }

  & h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight [&:not(:first-child)]:mt-4;
  }

  & h5 {
    @apply mb-1 text-lg font-semibold [&:not(:first-child)]:mt-2;
  }

  & h6 {
    @apply mb-1 font-medium leading-7;
  }

  & p {
    @apply leading-7 [&:not(:first-child)]:mt-4 /* [&:first-child]:text-xl [&:first-child]:text-muted-foreground */;
  }

  & blockquote {
    @apply mt-4 border-l-2 pl-6 italic;
  }

  & ol,
  & ul {
    @apply my-6 ml-6 [&>li]:mt-2;
  }
  & ul {
    @apply list-disc;
  }

  & ol {
    @apply list-decimal;
  }

  & code {
    @apply bg-muted px-[0.3rem] py-[0.2rem] rounded;
  }

  & pre {
    @apply my-6 mx-1.5 bg-muted py-3 px-4 overflow-x-scroll rounded-md;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    & > code {
      @apply !p-0;
    }
  }

  & table {
    @apply w-[calc(100%-12px)] mx-1.5 [&:not(:first-child)]:mt-4;

    & tr {
      @apply m-0 border-t p-0 even:bg-muted;
    }
    & th,
    td {
      @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
    }
    & th {
      @apply font-bold;
    }
  }

  & p:has(img) {
    @apply container;
  }
  & img {
    @apply my-6 mx-1.5 w-full;
  }
}

/* .cms-typography {
  & h1 {
    @apply mb-3 scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  & h2 {
    @apply mb-2.5 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
  }

  & h3 {
    @apply mb-2 scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  & h4 {
    @apply mb-1.5 scroll-m-20 text-xl font-semibold tracking-tight;
  }

  & h5 {
    @apply mb-1 text-lg font-semibold;
  }

  & h6 {
    @apply mb-1 text-sm font-medium leading-none;
  }

  & p {
    @apply mb-4 text-xl;
  }

  & ul {
    @apply mb-4 ml-6 list-disc [&>li]:mt-2;
  }

  & ol {
    @apply mb-4 ml-6 list-decimal [&>li]:mt-2;
  }

  & blockquote {
    @apply mb-4 border-l-2 pl-6 italic;
  }

  & > code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }

  & pre {
    @apply mb-4 bg-muted py-3 px-4 overflow-x-scroll rounded-md;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  & table {
    @apply w-full mb-4;

    & tr {
      @apply m-0 border-t p-0 even:bg-muted;
    }
    & th,
    td {
      @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
    }
    & th {
      @apply font-bold;
    }
  }
}
 */
