---
import "@lucarickli/jamstack-cms/dist/style.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jamstack CMS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Content management system">
    <script>
      import config from "virtual:jamstack-cms"; 
      import Cms from "@lucarickli/jamstack-cms";
      new Cms(config, document.getElementById("app"));
    </script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
